#outside {
  position: absolute;
  background-color: turquoise;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
}

#inside {
  position: absolute;
  background-color: coral;
  width: 100px;
  height: 100px;
  top: 25%;
  left: 25%;
}